.slick-next::before{
    content: none!important;
    font-size: 10px!important;
}
.slick-next{
    font-size: 10px!important;
    color: black!important;
    right: 34vw!important;
}
.slick-prev::before{
    content: none!important;
    font-size: 10px!important;
}
.slick-prev{
    font-size: 10px!important;
    color: black!important;
    left: 33vw!important;
    z-index: 20!important;
}